.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container2 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 75px;
}

#top{
    min-width: 800px; 
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid black;
}

#search > #input{
    width: 64.5%;
    text-align: right;
}

.bnchTitle {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 75px;
    width: 93.5%;
}

.flex-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
button {
    font-size: 20px;
    width: 200px;
    height: 40px;
    margin: 5px;
}
input {
    font-size: 20px;
}

table, td, th {
    border: 1px solid;
    padding: 10px;
}

td {
    text-align: center;
    width: 100px;
}
  
table {
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;
}